:root {
    --color-white: #ffffff;
    --color-dark-black: #131314;
    --color-light-black: #1E1F20;
    --color-magenta: #E06AFF;
    --light-magenta: #eeb1fd31;
    --font-family: 'Inter', sans-serif;
    --third-black: #222222;
}

body {
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-dark-black);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body.light-mode {
    background-color: #fff;
    color: #000;
}

body.light-mode p {
    color: #000; 
}

.login-container {
    background-color: var(--third-black);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.login-container.light-mode {
    background-color: #f9f5f5;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
}

h2 {
    margin-bottom: 20px;
}

.genie-text {
    color: var(--color-white);
}

p {
    font-size: 16px;
    margin: 0 0 8px;
    color: var(--color-white);
}

textarea {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: var(--third-black);
    border: 1px solid var(--light-magenta);
    border-radius: 4px;
    color: var(--color-white);
    font-size: 14px;
    margin-bottom: 12px;
    box-sizing: border-box;
    resize: none;
}

textarea.light-mode {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: var(--color-magenta);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #c950e8;
}

.theme-toggle {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 8px 12px;
    background-color: var(--color-magenta);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.theme-toggle:hover {
    background-color: #c950e8;
}
